.bg-default {
  background-color: var(--sn-stylekit-background-color);
}

.bg-info {
  background-color: var(--sn-stylekit-info-color);
}
.bg-info-dark {
  background-color: var(--sn-stylekit-info-color-darkened);
}

.bg-transparent {
  background-color: transparent;
}

.bg-contrast {
  background-color: var(--sn-stylekit-contrast-background-color);
}

.bg-secondary-contrast {
  background-color: var(--sn-stylekit-secondary-contrast-background-color);
}

.color-neutral {
  color: var(--sn-stylekit-neutral-color)
}

.color-text {
  color: var(--sn-stylekit-contrast-foreground-color);
}

.color-info-contrast {
  color: var(--sn-stylekit-info-contrast-color);
}

.selected\:bg-color[data-selected],
.selected\:bg-color[aria-selected="true"] {
  background-color: var(--sn-stylekit-list-item-highlight-color);
}

.selected\:fg-color[data-selected],
.selected\:fg-color[aria-selected="true"] {
  color: var(--sn-stylekit-contrast-foreground-color);
}
