.bg-default {
  background-color: var(--sn-stylekit-background-color);
}

.bg-info {
  background-color: var(--sn-stylekit-info-color);
}
.bg-info-dark {
  background-color: var(--sn-stylekit-info-color-darkened);
}

.bg-transparent {
  background-color: transparent;
}

.bg-contrast {
  background-color: var(--sn-stylekit-contrast-background-color);
}

.bg-secondary-contrast {
  background-color: var(--sn-stylekit-secondary-contrast-background-color);
}

.bg-border {
  background-color: var(--sn-stylekit-border-color);
}

.bg-clip-padding {
  background-clip: padding-box;
}

.bg-neutral {
  background-color: var(--sn-stylekit-neutral-color);
}

.bg-grey-5 {
  background-color: var(--sn-stylekit-grey-5);
}

.color-neutral {
  color: var(--sn-stylekit-neutral-color);
}

.color-text {
  color: var(--sn-stylekit-contrast-foreground-color);
}

.color-foreground {
  color: var(--sn-stylekit-foreground-color);
}

.color-danger {
  color: var(--sn-stylekit-danger-color);
}

.color-info {
  color: var(--sn-stylekit-info-color);
}
.color-info-contrast {
  color: var(--sn-stylekit-info-contrast-color);
}

.color-grey-1 {
  color: var(--sn-stylekit-grey-1);
}

.color-black {
  color: var(--sn-stylekit-black);
}

.selected\:bg-color[data-selected],
.selected\:bg-color[aria-selected='true'] {
  background-color: var(--sn-stylekit-list-item-highlight-color);
}

.selected\:fg-color[data-selected],
.selected\:fg-color[aria-selected='true'] {
  color: var(--sn-stylekit-contrast-foreground-color);
}
