.inline-flex {
  display: inline-flex
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.absolute {
  position: absolute;
}

.cursor-pointer {
  cursor: pointer
}

.origin-top-right {
  transform-origin: top right
}

.overflow-auto {
  overflow: auto;
}
