.no-focus-shadow:focus, .no-focus-shadow:focus-within {
  box-shadow: none;
}

.box-shadow, .box-shadow:focus, .box-shadow:focus-within {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 2px 8px rgba(0, 0, 0, 0.04);
}

.no-focus-outline:focus, .no-focus-outline:focus-within {
  outline: none;
}
