.w-auto {
  width: auto
}

.w-full {
  width: 100%;
}

.w-56 {
  width: 14rem
}

.w-20px {
  width: 20px;
}

.min-w-265px {
  min-width: 265px;
}

.min-w-20px {
  min-width: 20px;
}

.min-w-80 {
  min-width: 20rem;
}

.max-w-md {
  max-width: 28rem;
}
