[submodule "themes/midnight"]
	path = themes/midnight
	url = git@github.com:sn-extensions/midnight-theme.git
[submodule "themes/solarized-dark-theme"]
	path = themes/solarized-dark-theme
	url = git@github.com:sn-extensions/solarized-dark-theme.git
[submodule "themes/futura-theme"]
	path = themes/futura-theme
	url = git@github.com:sn-extensions/futura-theme.git
[submodule "themes/focus-theme"]
	path = themes/focus-theme
	url = git@github.com:sn-extensions/focus-theme.git
[submodule "editors/simple-markdown-editor"]
	path = editors/simple-markdown-editor
	url = git@github.com:sn-extensions/simple-markdown-editor.git
