!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title StyleKit
    %script{:src => "dist/compiled.js"}
    %link{:href => "dist/stylekit.css", :rel => "stylesheet"}
    :css

      html {
        font-size: 14px;
      }

      #components {
        display: flex;
      }

      #account-panel {
        margin: 30px;
        width: 450px;
      }

      #signout-button {
        text-align: right;
        display: block;
      }

      #modal-panel {
        margin: 30px;
        width: 750px;
      }

  %body
    #components
      .sn-component
        .panel#account-panel
          .header
            %h1.title Account
            %a.close-button Close

          .content
            .panel-section.hero
              %h1.title Sign in or register to enable sync and end-to-end encryption.
              .button-group.stretch
                .button.info.featured
                  .label Sign In
                .button.info.featured
                  .label Register
              %p
                Standard Notes is free on every platform, and comes standard with sync and encryption.
            .panel-section
              %h3.title Passcode Lock
              %p Add an app passcode to lock the app and encrypt on-device key storage.
              .button.info
                .label Add Passcode
            .panel-section
              %h3.title Encryption
              %h4.subtitle 681/681 notes and tags encrypted
              %p
                End-to-end encryption is enabled.
                Your data is encrypted before being synced to your private account.
            .panel-section
              %h3.title Data Backups
              .button-group
                .button.info
                  .label Download Backup
                .button.info
                  .label Import From Backup
              %p
                Notes are downloaded in the Standard File format,
                which allows you to re-import back into this app easily.
                To download as plain text files, choose “Decrypted”.
          .footer
            %a.subtle#signout-button Sign out and clear local data

      .sn-component
        .panel#modal-panel.sn-component
          .header
            %h1.title CloudLink
            %a.close-button Close
          .content
            .panel-section
              %h2.title Manage Integrations
              %p
                CloudLink enables you to install integrations that allow
                for real-time push of your encrypted data to other cloud providers.
              .panel-section
                %h3.outer-title Third Party
                .box-group
                  .box.info
                    .label Connect Dropbox
                  .box.warning
                    .label Disconnect Google Drive
                  .box.danger
                    .label Connect OneDrive
