!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title StyleKit
    %link{:href => "dist/stylekit.css", :rel => "stylesheet"}
    -# %link{:href => "themes/midnight/dist/dist.css", :rel => "stylesheet"}
    -# %link{:href => "themes/solarized-dark-theme/dist/dist.css", :rel => "stylesheet"}
    -# %link{:href => "themes/futura-theme/dist/dist.css", :rel => "stylesheet"}
    %link{:href => "themes/titanium-theme/dist/dist.css", :rel => "stylesheet"}
    -# %link{:href => "themes/focus-theme/dist/dist.css", :rel => "stylesheet"}
    :css

      html {
        font-size: 14px;
      }

      #components {
        display: flex;
      }

      #components .sn-component {
        margin: 30px;
      }

      #account-panel {
        width: 450px;
      }

      #modal-panel {
        width: 750px;
      }

      #menu-panel {
        width: 280px;
      }

      #app-bar {
        width: 100%;
      }

  %body.sn-component
    #components.sk-panel
      .sn-component.sk-panel-content
        .sk-panel#account-panel
          .sk-panel-header
            .sk-panel-header-title Account
            %a.close-button.info Close

          .sk-panel-content
            .sk-panel-section.sk-panel-hero
              .sk-panel-row
                .sk-h1 Sign in or register to enable sync and end-to-end encryption.
              .sk-panel-row
                .sk-button-group.stretch
                  .sk-button.info.featured
                    .sk-h3.sk-label Sign In
                  .sk-button.info.featured
                    .sk-h3.sk-label Register
              .sk-panel-row
                %p.sk-p
                  Standard Notes is free on every platform, and comes standard with sync and encryption.
            .sk-panel-section
              .sk-h3.sk-panel-section-title Passcode Lock
              .sk-panel-row
                %p.sk-p Add an app passcode to lock the app and encrypt on-device key storage.
              .sk-panel-row
                .sk-button.info
                  .sk-label Add Passcode
              .sk-panel-row
                %div
                  .sk-horizontal-group
                    .sk-h4.sk-bold Autolock
                    .vertical-rule
                    %a.sk-a.info None
                    %a.sk-a.info.boxed 1 Min
                    %a.sk-a.info 5 Min
                    %a.sk-a.info 1 hour
                  .text-content
                    %p.sk-p The autolock timer begins when the window or tab loses focus.

            .sk-panel-section
              .sk-panel-section-title Encryption
              .sk-panel-section-subtitle.info 681/681 notes and tags encrypted
              .sk-panel-row
                %p.sk-p
                  End-to-end encryption is enabled.
                  Your data is encrypted before being synced to your private account.
            .sk-panel-section
              .sk-panel-section-title Data Backups
              .sk-panel-row
                .sk-button-group
                  .sk-button.info
                    .sk-label Download Backup
                  .sk-button.info
                    .sk-label Import From Backup
              .sk-panel-row
                .sk-panel-section.no-bottom-pad
                  .text-content
                    %p.sk-p
                      Notes are downloaded in the Standard File format,
                      which allows you to re-import back into this app easily.
                      To download as plain text files, choose “Decrypted”.
                    %p.sk-p
                      Notes are downloaded in the Standard File format,
                      which allows you to re-import back into this app easily.
                      To download as plain text files, choose “Decrypted”.
          .sk-panel-footer
            %a.sk-a.right Sign out and clear local data

      .sn-component
        .sk-panel#modal-panel
          .sk-panel-header
            .sk-panel-header-title CloudLink
            %a.close-button.info Close
          .sk-panel-content
            .sk-panel-section
              .sk-panel-section-title Manage Integrations
              %p.sk-p
                CloudLink enables you to install integrations that allow
                for real-time push of your encrypted data to other cloud providers.
              .sk-panel-section
                .sk-panel-section-outer-title.sk-panel-row Third Party
                .sk-panel-row
                  .sk-box-group
                    .sk-box.info
                      .sk-label Connect Dropbox
                    .sk-box.warning
                      .sk-label Disconnect Google Drive
                    .sk-box.danger
                      .sk-label Connect OneDrive

                .sk-panel-row

              .sk-panel-section
                .sk-horizontal-group
                  .sk-spinner.small.info
                  .sk-sublabel Syncing 66/100
              .sk-panel-section
                .sk-panel-section-title.sk-panel-row Options
                .sk-panel-row
                  %a.info Settings
                .sk-panel-row
                  %a.sk-a.info More Info
                .sk-panel-row
                  %a.sk-a.disabled Disabled
                .sk-panel-row
                  %a.sk-a.danger Help

              .sk-panel-section
                .sk-panel-section-title.sk-panel-row Update Account
                .sk-panel-row.sk-panel-form.half
                  .panel-column
                    %input.sk-input{"placeholder" => "Email"}
                    %input.sk-input{"placeholder" => "Password", "type" => "password"}
                    %input.sk-input{"placeholder" => "Confirm Password", "type" => "password"}
                    .sk-panel-row.sk-button-group.stretch.form-submit
                      .sk-button.info.featured
                        .sk-label Save Changes
                    %label.sk-label.no-bold
                      %input.sk-input{"type" => "checkbox"}
                      Verify Email
                    .sk-input-group
                      %label
                        %input.sk-input{"type" => "radio"}
                        Encrypted
                      %label
                        %input.sk-input{"type" => "radio"}
                        Decrypted

              .sk-panel-section
                .sk-panel-section-title Notifications
                .sk-notification.neutral
                  .sk-notification-title Registration Pending
                  .sk-notification-text Your account is pending activation. Please check your email to complete the process.
                .sk-notification.info
                  .sk-notification-title Registration Successful
                  .sk-notification-text Your account is pending activation. Please check your email to complete the process.
                .sk-notification.warning
                  .sk-notification-title Weak Password
                  .sk-notification-text The password you are attempting to use is weak. Please try again.
                .sk-notification.danger
                  .sk-notification-title No Password Reset
                  .sk-notification-text Because your notes are encrypted using your password, Standard Notes does not have a password reset option. You cannot forget your password.

              .sk-panel-section
                .sk-panel-section-title.sk-panel-row.centered Dashed Inputs
                .sk-notification.info.dashed.one-line
                  %input.sk-input.info.clear.center-text{"placeholder" => "Enter Your ProLink Activation Code"}
                .sk-panel-row.centered
                  .sk-h1.title.center-text
                    %strong Standard Notes Pro
                    gives you access to powerful editors, extensions, tools, themes, and cloud backup options.

              .sk-panel-section
                .sk-panel-section-title.sk-panel-row Menu
                .sk-panel-row
                  .sk-panel-table
                    .sk-panel-table-item
                      .sk-panel-table-item-content
                        .sk-panel-table-item-column
                          %img{"src" => "https://s3.amazonaws.com/standard-notes/screenshots/models/editors/adv-markdown.jpg"}
                          %h4.sk-h4.sk-label Advanced Markdown
                          %p.sk-p A fully featured Markdown editor that supports live preview, a styling toolbar, and split pane support.
                      .sk-panel-table-item-footer
                        .sk-segmented-buttons
                          .sk-button.info
                            .sk-label Install
                          .sk-button.danger
                            .sk-label Uninstall
                          .sk-button.info
                            .sk-label Info
                          .sk-button.neutral
                            .sk-label Default
                    .sk-panel-table-item
                      .sk-panel-table-item-content
                        .sk-panel-table-item-column
                          %img{"src" => "https://s3.amazonaws.com/standard-notes/screenshots/models/editors/code.jpg"}
                          %h4.sk-h4.sk-label Code Editor
                          %p.sk-p Syntax highlighting and convenient keyboard shortcuts for over 120 programming languages. Ideal for code snippets and procedures.
                      .sk-panel-table-item-footer
                        .sk-button.danger
                          .sk-label Uninstall
                    .sk-panel-table-item
                      .sk-panel-table-item-content
                        .sk-panel-table-item-column
                          %img{"src" => "https://s3.amazonaws.com/standard-notes/screenshots/models/editors/vim.jpg"}
                          %h4.sk-h4.sk-label Vim Editor
                          %p.sk-p A code editor with Vim key bindings.
                      .sk-panel-table-item-footer
                        .sk-button.success
                          .sk-label Open
                    .sk-panel-table-item
                      .sk-panel-table-item-content
                        .sk-panel-table-item-column
                          %img{"src" => "https://s3.amazonaws.com/standard-notes/screenshots/models/editors/simple-markdown.jpg"}
                          %h4.sk-h4.sk-label Task Editor
                          %p.sk-p A great way to manage short-term and long-term to-do's. You can mark tasks as completed, change their order, and edit the text naturally in place.
                      .sk-panel-table-item-footer
                        .sk-button.info
                          .sk-label Install

      .sn-component
        .sk-menu-panel#menu-panel
          .sk-menu-panel-header
            .sk-menu-panel-header-title Sort By
          .sk-menu-panel-row
            .sk-label Date Added
          .sk-menu-panel-row
            .sk-menu-panel-column
              .sk-label Date Modified
              .sk-sublabel Most recently modified first
          .sk-menu-panel-row
            .sk-menu-panel-column
              .left
                .sk-menu-panel-column
                  .sk-circle.small.success
                .sk-menu-panel-column
                  .sk-label Title

          .sk-menu-panel-header
            .sk-menu-panel-column
              .sk-menu-panel-header-title Display
              .sk-menu-panel-header-subtitle Manage what appears in the list
            .sk-menu-panel-column
              .sk-spinner.small
          .sk-menu-panel-row
            .sk-label Archived Notes
          .sk-menu-panel-row
            .sk-menu-panel-column.stretch
              .sk-label Pinned Notes
              .sk-menu-panel-subrows
                .sk-menu-panel-row.subrow
                  .sk-label Subrow 1
                .sk-menu-panel-row.subrow
                  .sk-label Subrow 2
          .sk-menu-panel-row
            .sk-menu-panel-column
              .sk-label Note Preview
            .sk-menu-panel-column
              .sk-spinner.small

      .sn-component
        .sk-menu-panel#menu-panel
          .sk-menu-panel-header
            .sk-menu-panel-header-title Editors
            .sk-spinner.small.info
          .sk-menu-panel-row
            .sk-label Plain
          .sk-menu-panel-row
            .sk-menu-panel-column
              .left
                .sk-menu-panel-column
                  .sk-circle.small.info
                .sk-menu-panel-column
                  .sk-label Advanced
                  .sk-sublabel Offline available
            .sk-menu-panel-column
              .sk-button.info
                .sk-label Default
          .sk-menu-panel-row
            .sk-label Code Editor

    .sn-component
      #app-bar.sk-app-bar
        .left
          .sk-app-bar-item
            .sk-app-bar-item-column
              .sk-circle.small.success
            .sk-app-bar-item-column
              .sk-label Account
            .sk-app-bar-item-column
              .sk-sublabel Signed In
          .sk-app-bar-item
            .sk-label Extensions
          .sk-app-bar-item
            .sk-label Help

          .sk-app-bar-item.border

          .sk-app-bar-item
            .sk-label ProLink
        .center
          .sk-app-bar-item
            .sk-label.info Update Available
        .right
          .sk-app-bar-item.no-pointer
            .sk-label.subtle Last Refreshed 3s Ago
          .sk-app-bar-item
            .sk-label
              Refresh
