!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title StyleKit
    %link{:href => "dist/stylekit.css", :rel => "stylesheet"}
    :css

      html {
        font-size: 14px;
      }

      #components {
        display: flex;
      }

      #account-panel {
        margin: 30px;
        width: 450px;
      }

      #modal-panel {
        margin: 30px;
        width: 750px;
      }

      #menu-panel {
        margin: 30px;
        width: 280px;
      }

      #app-bar {
        width: 100%;
      }

  %body
    #components

      .sn-component
        .panel#account-panel
          .header
            %h1.title Account
            %a.close-button.info Close

          .content
            .panel-section.hero
              .panel-row
                %h1.title Sign in or register to enable sync and end-to-end encryption.
              .panel-row
                .button-group.stretch
                  .button.info.featured
                    .label Sign In
                  .button.info.featured
                    .label Register
              .panel-row
                %p
                  Standard Notes is free on every platform, and comes standard with sync and encryption.
            .panel-section
              .panel-row
                %h3.title Passcode Lock
                .sublabel Passcode Not Set
              .panel-row
                %p Add an app passcode to lock the app and encrypt on-device key storage.
              .panel-row
                .button.info
                  .label Add Passcode
            .panel-section
              .panel-row
                %h3.title Encryption
              .panel-row
                %h5.subtitle.info 681/681 notes and tags encrypted
              .panel-row
                %p
                  End-to-end encryption is enabled.
                  Your data is encrypted before being synced to your private account.
            .panel-section
              %h3.title.panel-row Data Backups
              .panel-row
                .button-group
                  .button.info
                    .label Download Backup
                  .button.info
                    .label Import From Backup
              %p.panel-row
                Notes are downloaded in the Standard File format,
                which allows you to re-import back into this app easily.
                To download as plain text files, choose “Decrypted”.
          .footer
            %a.right Sign out and clear local data

      .sn-component
        .panel#modal-panel.sn-component
          .header
            %h1.title CloudLink
            %a.close-button.info Close
          .content
            .panel-section
              %h2.title Manage Integrations
              %p
                CloudLink enables you to install integrations that allow
                for real-time push of your encrypted data to other cloud providers.
              .panel-section
                %h3.outer-title.panel-row Third Party
                .panel-row
                  .box-group
                    .box.info
                      .label Connect Dropbox
                    .box.warning
                      .label Disconnect Google Drive
                    .box.danger
                      .label Connect OneDrive

                .panel-row

              .panel-section
                .horizontal-group
                  .spinner.small.info
                  .sublabel Syncing 66/100
              .panel-section
                %h3.title.panel-row Options
                .panel-row
                  %a.info Settings
                .panel-row
                  %a.info More Info
                .panel-row
                  %a.danger Help

              .panel-section
                %h3.title.panel-row Update Account
                .panel-row.panel-form.half
                  .panel-column
                    %input{"placeholder" => "Email"}
                    %input{"placeholder" => "Password", "type" => "password"}
                    %input{"placeholder" => "Confirm Password", "type" => "password"}
                    .panel-row.button-group.stretch.form-submit
                      .button.info.featured
                        .label Save Changes
                    %label
                      %input{"type" => "checkbox"}
                      Verify Email
                    .input-group
                      %label
                        %input{"type" => "radio"}
                        Encrypted
                      %label
                        %input{"type" => "radio"}
                        Decrypted

              .panel-section
                %h3.title Notifications
                .notification.default
                  %h1.title Registration Pending
                  .text Your account is pending activation. Please check your email to complete the process.
                .notification.info
                  %h1.title Registration Successful
                  .text Your account is pending activation. Please check your email to complete the process.
                .notification.warning
                  %h1.title Weak Password
                  .text The password you are attempting to use is weak. Please try again.
                .notification.danger
                  %h1.title No Password Reset
                  .text Because your notes are encrypted using your password, Standard Notes does not have a password reset option. You cannot forget your password.

              .panel-section
                %h3.title.panel-row.centered Dashed Inputs
                .notification.info.dashed.one-line
                  %input.info.clear.center-text{"placeholder" => "Enter Your ProLink Activation Code"}
                .panel-row.centered
                  %h1.title.center-text
                    %strong Standard Notes Pro
                    gives you access to powerful editors, extensions, tools, themes, and cloud backup options.

              .panel-section
                %h3.title.panel-row Menu
                .panel-row
                  .panel-table
                    .table-item
                      .item-content
                        .item-column
                          %img{"src" => "https://s3.amazonaws.com/standard-notes/screenshots/models/editors/adv-markdown.jpg"}
                          %h4 Advanced Markdown
                          %p A fully featured Markdown editor that supports live preview, a styling toolbar, and split pane support.
                      .item-footer
                        .button-group
                          .button.info Install
                          .button.danger Uninstall
                          .button.info Info
                    .table-item
                      .item-content
                        .item-column
                          %img{"src" => "https://s3.amazonaws.com/standard-notes/screenshots/models/editors/code.jpg"}
                          %h4 Code Editor
                          %p Syntax highlighting and convenient keyboard shortcuts for over 120 programming languages. Ideal for code snippets and procedures.
                      .item-footer
                        .button.danger Uninstall
                    .table-item
                      .item-content
                        .item-column
                          %img{"src" => "https://s3.amazonaws.com/standard-notes/screenshots/models/editors/vim.jpg"}
                          %h4 Vim Editor
                          %p A code editor with Vim key bindings.
                      .item-footer
                        .button.success Open
                    .table-item
                      .item-content
                        .item-column
                          %img{"src" => "https://s3.amazonaws.com/standard-notes/screenshots/models/editors/simple-markdown.jpg"}
                          %h4 Task Editor
                          %p A great way to manage short-term and long-term to-do's. You can mark tasks as completed, change their order, and edit the text naturally in place.
                      .item-footer
                        .button.info Install

      .sn-component
        .menu-panel#menu-panel.sn-component
          .header
            %h4.title Sort By
          .row
            .label Date Added
          .row
            .column
              .label Date Modified
              .sublabel Most recently modified first
          .row
            .column
              .left
                .column
                  .circle.small.success
                .column
                  .label Title

          .header
            .column
              %h4.title Display
              .subtitle Manage what appears in the list
            .column
              .spinner.small
          .row
            .label Archived Notes
          .row
            .column.stretch
              .label Pinned Notes
              .subrows
                .row.subrow
                  .label Subrow 1
                .row.subrow
                  .label Subrow 2
          .row
            .column
              .label Note Preview
            .column
              .spinner.small

      .sn-component
        .menu-panel#menu-panel
          .header
            %h4.title Editors
            .spinner.small.info
          .row
            .label Plain
          .row
            .column
              .left
                .column
                  .circle.small.info
                .column
                  .label Advanced
                  .sublabel Offline available
            .column
              .button.info
                .label Default
          .row
            .label Code Editor

    .sn-component
      #app-bar.app-bar
        .left
          .item
            .column
              .circle.small.success
            .column
              .label Account
            .column
              .sublabel Signed In
          .item
            .label Extensions
          .item
            .label Help

          .item.border

          .item
            .label ProLink
        .center
          .item
            .label.info Update Available
        .right
          .item.no-pointer
            .label.subtle Last Refreshed 3s Ago
          .item
            .label
              Refresh
