.sn-dropdown-menu {

}

.sn-dropdown-menu[data-reach-menu-button] {

}

.sn-dropdown-menu[data-reach-menu-button][aria-expanded="true"] {

}

.sn-dropdown-menu-list[data-reach-menu-list],
.sn-dropdown-menu-list[data-reach-menu-items] {
  animation: slide-down 0.2s ease;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sn-dropdown-menu-list [data-reach-menu-item] {
  
}
