.sn-button {
  @extend .border-0;
  @extend .border-solid;
  @extend .cursor-pointer;
  @extend .font-bold;
  @extend .hover\:brightness-130;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
  @extend .px-3;
  @extend .py-2;
  @extend .rounded;
  @extend .text-sm;
}

.sn-button.contrast {
  background-color: var(--sn-stylekit-contrast-foreground-color);
  color: var(--sn-stylekit-contrast-background-color);
}

.sn-button.neutral {
  background-color: var(--sn-stylekit-neutral-color);
  color: var(--sn-stylekit-neutral-contrast-color);
}

.sn-button.info {
  background-color: var(--sn-stylekit-info-color);
  color: var(--sn-stylekit-info-contrast-color);
}

.sn-button.warning {
  background-color: var(--sn-stylekit-warning-color);
  color: var(--sn-stylekit-warning-contrast-color);
}

.sn-button.danger {
  background-color: var(--sn-stylekit-danger-color);
  color: var(--sn-stylekit-danger-contrast-color);
}

.sn-button.success {
  background-color: var(--sn-stylekit-success-color);
  color: var(--sn-stylekit-success-contrast-color);
}

.sn-dropdown-menu {
  @extend .align-items-center;
  @extend .bg-white;
  @extend .border-0;
  @extend .border-gray-300;
  @extend .border-solid;
  @extend .border;
  @extend .cursor-pointer;
  @extend .font-medium;
  @extend .hover\:bg-gray-50;
  @extend .inline-flex;
  @extend .justify-center;
  @extend .leading-4;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
  @extend .px-2;
  @extend .py-1;
  @extend .rounded-sm;
  @extend .text-gray-700;
  @extend .text-sm;
  @extend .w-auto;
}

.sn-dropdown-menu > :first-child {
  @extend .mr-2;
}

.sn-dropdown-menu > :last-child {
  @extend .ml-2;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sn-dropdown-menu-list[data-reach-menu-list],
.sn-dropdown-menu-list[data-reach-menu-items] {
  @extend .absolute;
  @extend .bg-white;
  @extend .border-gray-300;
  @extend .mt-2;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
  @extend .origin-top-right;
  @extend .py-2;
  @extend .rounded-sm;
  @extend .slide-down-animation;
  @extend .w-56;
}

.sn-dropdown-menu-list [data-reach-menu-item] {
  @extend .align-items-center;
  @extend .flex;
  @extend .hover\:bg-gray-100;
  @extend .hover\:text-gray-900;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
  @extend .px-2;
  @extend .py-1;
  @extend .text-sm;
}

.sn-listbox {
  @extend .align-items-center;
  @extend .bg-white;
  @extend .border-0;
  @extend .border-gray-300;
  @extend .border-solid;
  @extend .border;
  @extend .cursor-pointer;
  @extend .font-medium;
  @extend .hover\:bg-gray-50;
  @extend .inline-flex;
  @extend .justify-center;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
  @extend .rounded-sm;
  @extend .text-gray-700;
  @extend .text-sm;
}

.sn-listbox-button[data-reach-listbox-button] {
  @extend .border-0;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
  @extend .py-1;
}

.sn-listbox-list[data-reach-listbox-list] {
  @extend .bg-white;
  @extend .border-gray-300;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
  @extend .origin-top-right;
  @extend .rounded-sm;
  @extend .slide-down-animation;
  @extend .text-sm;
}

.sn-listbox-popover[data-reach-listbox-popover] {
  @extend .border-gray-300;
  @extend .mt-2;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
  @extend .rounded-sm;
}
