.sn-button {
  @extend .border-0;
  @extend .border-solid;
  @extend .cursor-pointer;
  @extend .font-medium;
  @extend .hover\:brightness-130;
  @extend .h-32;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
  @extend .px-3;
  @extend .py-2;
  @extend .rounded;
  @extend .text-sm;
}

.sn-button.contrast {
  background-color: var(--sn-stylekit-contrast-foreground-color);
  color: var(--sn-stylekit-contrast-background-color);
}

.sn-button.neutral {
  background-color: var(--sn-stylekit-neutral-color);
  color: var(--sn-stylekit-neutral-contrast-color);
}

.sn-button.info {
  background-color: var(--sn-stylekit-info-color);
  color: var(--sn-stylekit-info-contrast-color);
}

.sn-button.warning {
  background-color: var(--sn-stylekit-warning-color);
  color: var(--sn-stylekit-warning-contrast-color);
}

.sn-button.danger {
  background-color: var(--sn-stylekit-danger-color);
  color: var(--sn-stylekit-danger-contrast-color);
}

.sn-button.success {
  background-color: var(--sn-stylekit-success-color);
  color: var(--sn-stylekit-success-contrast-color);
}

.sn-dropdown-menu {
  @extend .align-items-center;
  @extend .bg-white;
  @extend .border-0;
  @extend .border-gray-300;
  @extend .border-solid;
  @extend .border;
  @extend .cursor-pointer;
  @extend .font-normal;
  @extend .h-32;
  @extend .hover\:bg-color;
  @extend .inline-flex;
  @extend .justify-center;
  @extend .leading-4;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
  @extend .px-2;
  @extend .py-1;
  @extend .rounded-sm;
  @extend .text-color;
  @extend .text-sm;
  @extend .w-auto;
}

.sn-dropdown-menu > .sn-icon:first-child {
  @extend .mr-2;
}

.sn-dropdown-menu > .sn-icon:last-child {
  @extend .ml-2;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sn-dropdown-menu-list {
  @extend .absolute;
  @extend .bg-white;
  @extend .border-gray-300;
  @extend .box-shadow;
  @extend .font-normal;
  @extend .min-w-265;
  @extend .mt-2;
  @extend .no-focus-outline;
  @extend .origin-top-right;
  @extend .py-2;
  @extend .rounded-sm;
  @extend .slide-down-animation;
  @extend .text-color;
  @extend .w-56;
}

.sn-dropdown-menu-list-item {
  @extend .align-items-center;
  @extend .cursor-pointer;
  @extend .flex;
  @extend .hover\:bg-color;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
  @extend .px-2;
  @extend .selected\:bg-color;
  @extend .selected\:fg-color;
  @extend .text-sm;
  @extend .h-32;
}

.sn-dropdown-menu-list-item > .sn-icon {
  @extend .mr-2;
}

.sn-listbox {
  @extend .align-items-center;
  @extend .bg-white;
  @extend .border-0;
  @extend .border-gray-300;
  @extend .border-solid;
  @extend .border;
  @extend .border-box;
  @extend .cursor-pointer;
  @extend .font-normal;
  @extend .h-32;
  @extend .hover\:bg-color;
  @extend .inline-flex;
  @extend .justify-center;
  @extend .leading-4;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
  @extend .rounded-sm;
  @extend .text-color;
  @extend .text-sm;
  @extend .w-auto;
}

.sn-listbox-button {
  @extend .align-items-center;
  @extend .border-0;
  @extend .cursor-pointer;
  @extend .inline-flex;
  @extend .justify-center;
  @extend .py-1;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
}

.sn-listbox-button > .sn-icon:last-child {
  @extend .ml-2;
}

.sn-listbox-list {
  @extend .bg-white;
  @extend .border-gray-300;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
  @extend .origin-top-right;
  @extend .rounded-sm;
  @extend .slide-down-animation;
  @extend .text-color;
  @extend .text-sm;
}

.sn-listbox-list-option {
  @extend .cursor-pointer;
  @extend .selected\:bg-color;
  @extend .selected\:fg-color;
  @extend .font-normal;
  @extend .text-sm;
  @extend .py-2;
}

.sn-listbox-popover {
  @extend .border-gray-300;
  @extend .box-shadow;
  @extend .mt-2;
  @extend .no-focus-outline;
  @extend .no-focus-shadow;
  @extend .rounded-sm;
}
