.panel {
  box-shadow: 0px 2px 13px #C8C8C8;
  $h-content-padding: 2.0rem;
  border-radius: 0.7rem;
  overflow: scroll;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 1.1rem $h-content-padding;
    border-bottom: 1px solid #E1E1E1;
    background-color: $default-color;
    align-items: center;
    .title {

    }
    .close-button {
      font-weight: bold;
    }
  }

  .footer {
    padding: 1.0rem $h-content-padding;
    border-top: 1px solid #F1F1F1;

    .left {
      text-align: right;
      display: block;
    }

    .right {
      text-align: right;
      display: block;
    }
  }

  .content {
    padding: 1.9rem $h-content-padding;
    padding-bottom: 0;

    p {
      color: #454545;
      line-height: 1.3;
    }

    .label {
      font-weight: bold;
    }

    .panel-section {
      padding-bottom: 1.6rem;

      &.hero {
        text-align: center;
        .title {
          margin-bottom: 1.1rem;
        }
      }

      p:last-child {
        margin-bottom: 0;
      }

      &:not(:last-child) {
        margin-bottom: 1.5rem;
        border-bottom: 1px solid $section-border-color;
      }

      &:last-child {
        margin-bottom: 0.5rem;
      }

      .outer-title {
        border-bottom: 1px solid $section-border-color;
        padding-bottom: 0.9rem;
        margin-top: 2.1rem;
        margin-bottom: 15px;
      }
      .title {
        margin-bottom: 12px;
      }
      .subtitle {
        @extend .label;
        color: $tint-color;
        margin-top: -4px;
      }
    }

    .panel-section .panel-row {
      display: block;
      padding: 0.4rem 0;
    }

    .panel-form {
      width: 100%;
      &.half {
        width: 50%;
      }

      .form-submit {
        margin-top: 0.15rem;
      }
    }
  }
}


.menu-panel {
  box-shadow: 0px 4px 4px #C8C8C8;
  border-radius: 0.6rem;
  overflow: scroll;

  .header {
    padding: 0.8rem 1rem;
    border-bottom: 1px solid #E1E1E1;
    background-color: $default-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .subtitle {
      font-size: 0.95rem;
      margin-top: 0.2rem;
      opacity: 0.6;
    }
  }

  .row {
    padding: 1rem 1rem;
    border-bottom: 1px solid $section-border-color;
    cursor: pointer;
    display: flex;
    flex-direction: row;

    .column {
      display: flex;
      justify-content: center;
      flex-direction: column;
      &:not(:first-child) {
        padding-left: 1.0rem;
        padding-right: 0.15rem;
      }
    }

    .button .label {
      font-size: 0.8rem;
      font-weight: normal;
    }

    &:hover {
      background-color: lighten($section-border-color, 7%);
    }

    .label {
      font-size: 1rem;
      font-weight: bold;
    }

    .sublabel {
      font-size: 0.9rem;
      margin-top: 0.2rem;
      opacity: 0.6;
    }
  }
}
