.red {
  color: $danger-color;
}

.tinted {
  color: $tint-color;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 500;
  font-size: 1.3rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-weight: normal;
  font-size: 1.2rem;
}

h4 {
  font-weight: bold;
  font-size: 0.85rem;
}

a {
  color: $tint-color;
  cursor: pointer;
}

p {
  margin: 0.5rem 0;
}

.button-group {
  &.stretch {
    display: flex;
    .button {
      display: block;
      flex-grow: 1;
      text-align: center;
    }
  }
  .button {
    display: inline-block;
    margin-bottom: 5px;
    &:not(:last-child) {
      margin-right: 5px;
      &.featured {
        margin-right: 8px;
      }
    }
  }
}

.box-group {
  .box {
    display: inline-block;
    margin-bottom: 5px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.button {
  display: table;
  border-radius: 3px;
  padding: 0.5rem 0.7rem;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  border: 1px solid;

  .label {
    font-weight: bold;
    display: block;
    text-align: center;
  }
}

.box {
  @extend .button;
  padding: 2.5rem 1.5rem;
}

@mixin ui-rect($color) {
  background-color: rgba($color, 0.1);
  border-color: $color;
  color: $color;
  &:hover {
    background-color: lighten($color, 48%);
    color: lighten($color, 3%);
  }

  &.featured {
    background-color: $color;
    border: none;
    color: white;
    padding: 0.75rem 0;
    font-size: 1.1rem;

    &:hover {
      background-color: lighten($color, 8%);
    }
  }
}


.info {
  @include ui-rect($tint-color);
}

.warning {
  @include ui-rect($warning-color);
}

.danger {
  @include ui-rect($danger-color);
}
