$default-color: #F6F6F6;
$tint-color: #086DD6;
$success-color: #2B9612;
$danger-color: #F80324;
$warning-color: #f6a200;
$section-border-color: #DDDDDD;
$placeholder-color: darken($section-border-color, 10%);
$header-border-color: #E1E1E1;
