:root {
  --sn-stylekit-base-font-size: 13px;

  --sn-stylekit-font-size-p: 1.0rem;
  --sn-stylekit-font-size-editor: 1.21rem;

  --sn-stylekit-font-size-h6: 0.8rem;
  --sn-stylekit-font-size-h5: 0.9rem;
  --sn-stylekit-font-size-h4: 1.0rem;
  --sn-stylekit-font-size-h3: 1.1rem;
  --sn-stylekit-font-size-h2: 1.2rem;
  --sn-stylekit-font-size-h1: 1.3rem;

  --sn-stylekit-neutral-color: #989898;
  --sn-stylekit-neutral-contrast-color: white;

  --sn-stylekit-info-color: #086DD6;
  --sn-stylekit-info-contrast-color: white;

  --sn-stylekit-success-color: #2B9612;
  --sn-stylekit-success-contrast-color: white;

  --sn-stylekit-warning-color: #f6a200;
  --sn-stylekit-warning-contrast-color: white;

  --sn-stylekit-danger-color: #F80324;
  --sn-stylekit-danger-contrast-color: white;

  --sn-stylekit-shadow-color: #C8C8C8;
  --sn-stylekit-background-color: white;
  --sn-stylekit-border-color: #e3e3e3; // For borders inside background-color
  --sn-stylekit-foreground-color: black;
  // Colors for layers placed on top of non-prefixed background, border, and foreground
  --sn-stylekit-contrast-background-color: #F6F6F6;
  --sn-stylekit-contrast-foreground-color: #2e2e2e;
  --sn-stylekit-contrast-border-color: #e3e3e3; // For borders inside contrast-background-color

  // Alternative set of background and contrast options
  --sn-stylekit-secondary-background-color: #F6F6F6;
  --sn-stylekit-secondary-foreground-color: #2e2e2e;
  --sn-stylekit-secondary-border-color: #e3e3e3;

  --sn-stylekit-secondary-contrast-background-color: #e3e3e3;
  --sn-stylekit-secondary-contrast-foreground-color: #2e2e2e;
  --sn-styleki--secondary-contrast-border-color: #a2a2a2;

  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);

  --sn-stylekit-paragraph-text-color: #454545;

  --sn-stylekit-input-placeholder-color: rgb(168, 168, 168);
  --sn-stylekit-input-border-color: #e3e3e3;

  --sn-stylekit-scrollbar-thumb-color: #dfdfdf;
  --sn-stylekit-scrollbar-track-border-color: #E7E7E7;

  --sn-stylekit-general-border-radius: 2px;

  // consolas and monaco don't look good on desktop
  --sn-stylekit-monospace-font: "Ubuntu Mono", courier, monospace;
  --sn-stylekit-sans-serif-font: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.sn-component {
  @import "panels";
  @import "menu-panel";
  @import "ui";
  @import "app-bar";
  @import "table";

  font-family: var(--sn-stylekit-sans-serif-font);
  -webkit-font-smoothing: antialiased;

  &.no-select {
    user-select: none;
  }

  color: var(--sn-stylekit-foreground-color);
}

/* Goes outside of .sn-component declaration, as following properties are global */
input,
textarea,
[contenteditable] {
  caret-color: var(--sn-stylekit-editor-foreground-color);
}

@import "scrollbar";
