@import "vars";

:root {
  --sn-stylekit-font-size-small: 0.9rem;
  --sn-stylekit-font-size-normal: 1.0rem;
  --sn-stylekit-font-size-large: 1.2rem;
  --sn-component-background-color: #F6F6F6;
  --sn-component-foreground-color: black;
  --sn-component-foreground-highlight-color: #086DD6;
  --sn-component-outer-border-color: #DDDDDD;
  --sn-component-inner-border-color: #DDDDDD;

  /*
  $default-color: #F6F6F6;
  $tint-color: #086DD6;
  $success-color: #2B9612;
  $danger-color: #F80324;
  $warning-color: #f6a200;
  $section-border-color: #DDDDDD;
  $placeholder-color: darken($section-border-color, 10%);
  $header-border-color: #E1E1E1;
  */

  --sn-stylekit-paragraph-text-color: #454545;

  --sn-stylekit-default-color: #F6F6F6;
  --sn-stylekit-default-contrast-color: black;

  --sn-stylekit-info-color: #086DD6;
  --sn-stylekit-info-contrast-color: white;

  --sn-stylekit-success-color: #2B9612;
  --sn-stylekit-success-contrast-color: white;

  --sn-stylekit-warning-color: #f6a200;
  --sn-stylekit-warning-contrast-color: white;

  --sn-stylekit-danger-color: #F80324;
  --sn-stylekit-danger-contrast-color: white;

  --sn-stylekit-background-color: white;
  --sn-stylekit-border-color: #E1E1E1;
  --sn-stylekit-foreground-color: black;

  --sn-stylekit-contrast-background-color: var(--sn-stylekit-default-color);
  --sn-stylekit-contrast-foreground-color: black;
  --sn-stylekit-contrast-border-color: #E1E1E1;

}

.sn-component {
  @import "panels";
  @import "ui";
  @import "app-bar";
  @import "table";

  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

@import "scrollbar";
